.allDetails {
  margin-top: 3rem;
  display: grid;
  grid-row-start: auto;
  grid-template-areas:
    "first second second"
    "first third third"
    "first third third";
}

.author:hover {
  color: #1c555e;
}

.firstCont {
  background-color: #aa7446;
  max-width: 18rem;
  padding-left: 1rem;
  grid-area: first;
  margin: 2rem;
  margin-left: 4rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 39rem;
  max-height: 47rem;
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
.firstCont h1 {
  font-size: 2rem;
  text-align: center;
  padding-right: 1rem;
  color: #5e3614;
}
.bookImg {
  min-width: 10rem;
  min-height: 20rem;
  max-width: 13.5rem;
  max-height: 20rem;
  padding: 2rem;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
}
.reviewImg{
  min-width: 5rem;
  min-height: 15rem;
  max-width: 10rem;
  max-height: 20rem;
  padding: 2rem;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
.secondCont {
  background-color: #d9d9d9;
  grid-area: second;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem;
  max-height: 7rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.thirdCont {
  background-color: #d9d9d9;
  grid-area: third;
  margin: 2rem;
  margin-top: 0;
  text-align: justify;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.bookTitle {
  font-size: 2rem;
  padding-left: 2rem;
}
.bookDescription {
  /* font-size: 1.4rem; */
  font-size: 1.3rem;
  padding-left: 2rem;
  margin-right: 3rem;
}
.back {
  padding-left: 3rem;
}
.cart {
  padding-right: 3rem;
}
.backButton {
  width: 200px;
  height: 50px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 19px;
  color: #ecebeb;
  box-sizing: border-box;
  background: #aa7446;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}
.backButton:hover {
  background: #ba804e;
}
.cartButton {
  background-color: #1c555e;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;  
  width: 163px;
  height: 43px;
}
.cartButton:hover {
  background-color: #256c77;
}
.quantityControls {
  /* border: 2px solid #1c555e95; */
  padding: 4px;
  border-radius: 6px;
  color: rgb(0, 0, 0);
  /* background-color: white; */
  font-weight: 500;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.quantityControls:hover {
  /* background-color: #1c555e95; */
  color: white;
}

.quantityBtn {
  cursor: pointer;
  font-size: larger;
}

.score1 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: #1c555e;
}

.reviewContent{
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  transform: none;
  background-color: #d9d9d9;
  width: 40%;
  margin-block: 1%;
  margin-right: 10%;
  margin-left: 25%;
  padding-inline: 2%;
  grid-gap: 10px;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 10px black);
  padding-bottom: 10px;
}
.forms{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.forms h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #040d24;
}
.forms h2{
  font-size: 21px;
  font-family: "Pacifico",cursive;
  color: rgb(37, 145, 162);
}
.formss{
  position: initial;
    transform: none;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-block: 2%;
    margin-right: 10%;
    margin-left: 5%;
    padding-inline: 5%;
    grid-gap: 10px;
    gap: 10px;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 10px black);
    background-color: #d9d9d9;
    padding-bottom: 20px;
    height: 100%;
}

.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeWindow{
  position: absolute;
  top: 20px;
  right: 20px;

  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5e3614;
}

.closeWindow:hover{
  background-color: #aa7446;
}

.dates{
  font-size: 20px;
}

.date{
  display: grid;
  grid-gap: 25px;
  gap: 25px;
  padding: 5px;
  width: 95%;
}

.submitReview{
  display: grid;
  grid-gap: 25px;
  gap: 25px;
  padding: 5px;
  width: 100%;
}