a:link {
    text-decoration: none;
}

.card {
    color: black;
    width: min-content;
    height: min-content;
    
    display:inline-block;
    position:relative;
}

.name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 2px;
}

.datos {
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin: 1px;
}

.score {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin: 1px;
}