.account {
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
}

.left {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 125px;
    background: #ECEBEB;
    align-items: flex-start;
}
.info {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: max-content;
    height: max-content;

    justify-content: space-evenly;
    align-items: stretch;

    background: #ECEBEB;

    padding: 2%;
}

.info > div {
    font-family: 'Roboto';
}

.headatos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.usuario {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    padding-left: 10%;
}

.usuario > div {
    margin: 5%;
}

.datoimg {
    border-radius: 50%;
    border: solid #1C555E; ;
}

.dato{
    font-family: 'Roboto';
    padding-block: 1%;
    font-size: 16px;
    font-weight: 400;
}

.orders {
    margin: 5%;
}

.editAcc {
    color: #1C555E;
    font-weight: 600;
}

.editAcc:hover {
    text-decoration: underline;
}

.logoutBtn {
    cursor: pointer;
    margin: 4px;
    width: 125px;
    height: 28px;

    text-decoration: none;
    background: #1C555E;
    color: #ECEBEB;
    border: none;
    border-radius: 4px;

    margin-inline: 45%;
}