.barra{
    display: flex;
    align-items:center;
    background-color: #ECEBEB;
    height: 130px;
    justify-content: space-around;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: -webkit-fill-available;
    z-index: +1;
    position: relative;
}

.barraContent{
    display: flex;
    align-items:center;
    gap: 40px;
    margin-left: 35px;
}

.title{
    font-size:28px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.309)
}

.createBtn{
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color:  #1c555e48;
}

.createBtn:hover{
    background-color:  #1c555eb5;
}

.linkCreate{
    margin-left: 60%;
    display: flex;
    align-items: flex-end;
}

.content{
    background-color: rgba(255, 0, 0, 0.455);
    display: flex;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: center;
    /* justify-items: center; */
}