.abaut{
    display: block;
    justify-content: space-between;
    background: rgb(255,255,255);
    background: linear-gradient(5deg, rgba(255,255,255,1) 2%, rgba(83,175,194,1) 89%);
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.859);
    margin: 25px;
    border-radius: 15px;
    justify-content: center;
    gap: 50px;
    background-color: #ECEBEB;;
}

.cardsInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 40px;
    width: 300px;
    height: 398px;
    background-color: beige;
    box-shadow: 10px 4px 4px rgba(40, 0, 255, 0.25);
    border-radius: 14px;
    align-items: center;
    padding-top: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.859);
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 40%);
    transition: all 200ms ease;
    border: solid 2px transparent;
    backdrop-filter: blur(10px);
}
.title{
    font-size:25px;
    margin-bottom: 0.5em;
    font-family: "Pacifico", cursive;
    color: var(--brown);
}
.cardsAbout{
    display: grid;
    grid-template-columns: repeat(3, 28%);
    margin: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}



.logo{   
    width: 40px;
    height: 40px;
}
.logo:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.cardsInfo:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-1%);
}

.logos{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}
