.abaut{
    display: block;
    justify-content: space-between;
    background: rgb(255,255,255);
    background: linear-gradient(5deg, rgba(255,255,255,1) 2%, rgba(83,175,194,1) 89%);
    scroll-behavior: auto;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.859); */
    background-color: #ECEBEB;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* margin: 25px; */
    /* border-radius: 15px; */
    justify-content: center;
    background-color: #ECEBEB;;
}

.cardsInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 40px;
    width: 300px;
    height: 398px;
    align-items: center;
    padding-top: 5px;
    overflow: hidden;
    background-color: rgba(100, 121, 126, 0.859);
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 40%);
    transition: all 200ms ease;
    border: solid 2px transparent;
    backdrop-filter: blur(10px);
}
.title{
    font-size:25px;
    margin-bottom: 0.5em;
    /* font-family: "Pacifico", cursive; */
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.309)
}
.cardsAbout{
    display: grid;
    grid-template-columns: repeat(3, 28%);
    margin: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}



.logo{   
    width: 60px;
    height: 60px;
}
.logo:hover {
    transform: translateY(-1%);
    border-radius: 25px;
}

.cardsInfo:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-1%);
}

.logos{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    gap: 100%;
}
.cardsInfo h2{
    font-size: 18px;
    font-family: "Pacifico",cursive;
    color: rgb(253, 208, 208);
}

.cardsInfo img{
    border-radius: 14px;
    width: 80%;
}

.logo-container:hover{
    color: rgb(253, 208, 208);;
    transform: translateY(-1%);
}


.header p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
}