.home{
    display: flex;
}

.container {
    background: linear-gradient(135deg,#87c2b6d3, #eacca8);
    /* background: linear-gradient(135deg,#62b7a6d3, #edc28c); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.div{
    margin-top: 5%;
    width: 47%;
    border: #e2d6c3a6 solid;
    margin-left: 25%;
    background-color: rgba(248, 232, 218, 0.913);
    margin-right: 40%;
    border-radius: 10px;
    box-shadow: 15px 15px 20px #497c7cef;
    font-style: italic;
}

.welcome{
    letter-spacing: 1px;
    padding-top: 3vh;
    padding-left: 15%;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.instructions{
    padding-top: 1vh;
    width: 70vw;
    font-size:larger;
    padding-left: 23%;
}

.btn{
    background-color: #1C555E;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 28px;

    margin-top: 2vh;
    margin-left: 46%;
    margin-block-end: 2%;
}

.btn:hover{
    background-color: white;
    color: #1C555E;;
}

.log{
    margin-left: 89%;
}

.signBtn{
    width: 90px;
    height: 25px;
    cursor: pointer;

    background-color: #1C555E;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.signBtn:hover{
    background-color: #d9edec;
}

.about{
    margin-top: 19%;
    margin-left: 90%;
}

.aboutBtn{
    width: 90px;
    height: 25px;
    cursor: pointer;

    background-color: #1C555E;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.aboutBtn:hover{
    background-color: #d9edec;
}