.container {
    /* background: linear-gradient(135deg,#94c3d2d3, #c5ba96); */
    /* background: url(https://img.freepik.com/vector-gratis/pila-plana-dibujada-mano-libros_23-2149331325.jpg?w=2000); */
    background: url(https://img.freepik.com/vector-gratis/ilustracion-pila-libros-diseno-plano-dibujado-mano_23-2149341898.jpg?w=2000);
    /* background-repeat: no-repeat; */
    background-size:750px;
    height: 78.6vh;
    /* -------------------------------------------- */
    /* height: 78.6vh; */
    /* width: 98vw; */
    padding-top: 10%;
    padding-left: 2%;
}

.welcome{
    letter-spacing: 1px;
    width: 45vw;
    padding-top: 8vh;
    padding-left: 13vw;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.tex{
    margin-left: 10%;
    background-color: rgba(229, 214, 200, 0.933);
    /* background: url(https://img.freepik.com/vector-gratis/pila-plana-dibujada-mano-libros_23-2149331325.jpg?w=2000); */
    background-size:34%;
    background-repeat:round;
    /* -------------------------- */
    margin-right: 32%;
    border-radius: 10px;
    box-shadow: 15px 15px 20px #497c7cef;
    font-style: italic;
}

.instructions{
    width: 70vw;
    font-size:larger;
    margin-left: 28%;
}

.btn{
    width: 12%;
    height: 5%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    /* letter-spacing: 2px; */
    background-color:#ade5e2c5;
    margin-top: 1vh;
    margin-left: 46%;
    margin-block-end: 2%;
}

.log{
    margin-top: -7%;
    margin-left: 80%;
    margin-right: 1%;
}

.signBtn{
    margin-left: 33%;
    width: 40%;
    height: 5%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    /* letter-spacing: 2px; */
    background-color:#ade5e2;
}

.about{
    margin-top: 19%;
    margin-left: 90%;
}

.aboutBtn{
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    background-color:#ade5e2;
}