.home{
    display: flex;
    height:max-content;
    width:auto;
    background-color: #CFE4F6;
}

.image {
    height: 99vh;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80vh;
    width: 80vh;

    margin-inline: 2%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-left: 100%;
    margin-top: 5%;
}

.welcome {
    width: max-content;
    font-size: 52px;
    font-weight: 600;
    font-style:normal;
    margin: 30px;
}

.instructions {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: 400;
    width: 450px;
}

.btn{
    background-color: #1C555E;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 200;
    border-radius: 5px;
    cursor: pointer;
    width: 230px;
    height: 38px;
    margin-top: 30px;
}

.btn:hover{
    background-color: white;
    color: #1C555E;;
}

.signBtn{
    width: 120px;
    height: 30px;

    background-color: #1C555E;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.signBtn:hover{
    background-color: #d9edec;
}

.aboutBtn{
    width: 120px;
    height: 30px;

    background-color: #1C555E;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.aboutBtn:hover{
    background-color: #d9edec;
}