*{
    margin: 0;
    padding: 0;
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(240deg, rgba(199,196,237,1) 0%, rgba(21,174,205,1) 100%);
}

.form{
    width: 30%;
    display: flex;
    flex-direction: column;

    padding: 10%;
    gap: 10px;
    background-color: rgb(150, 170, 214);
    border-radius: 20px;
    filter: drop-shadow(5px 5px 10px black)
}

.form .group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(119, 134, 168);
    border-radius: 5px;
}

.form .group .letter{
    margin-left: 5px;
    color: white;
}

.form .group input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(150, 170, 214);
}

.form .group .desc{
    border-radius: 5px;
    border: 1px solid rgb(150, 170, 214);
    width: 200px;
    height: 100px;
}

.form .group select{
    width: 204px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(150, 170, 214);
}

.form .group .genres{
    display: flex;
    flex-direction: column;
    width: 204px;
}

.form .group .genres button{
    width: 204px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(150, 170, 214);
    cursor: pointer;
    transition: 0.2s all;
}

.form .submit{
    height: 30px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid rgb(150, 170, 214);
    cursor: pointer;
    transition: 0.2s all;
}


.form .group .genres button:hover, .form .submit:hover {
    background-color: rgb(40, 81, 100);
    color: rgb(255, 255, 255);
    
}