.cardEdits {
  margin: 0.7rem;
  width: 100%;
  display: flex;
  background-color: #d9d9d9;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.cardEdits img {
  min-width: 4rem;
  margin: 12px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.dataEdit {
  padding: 0.7rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.dataEdit > * {
  margin: 0 0.4rem;
  font-size: 14px;
  font-weight: 600;
}

.cardEdits input {
  margin-block: 10px;
  width: 3rem;
  height: 22px;
  border-radius: 4px;
  border: none
}

.nameEdit input {
  margin-block: 10px;
  width: 150px;
  height: 22px;
  border-radius: 4px;
  border: none
}
