.main_container {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: #ECEBEB;;
  height: 130px;
  justify-content: space-around;
}

.button {
  background-color: #1C555E;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 105px;
  height: 30px;
}

.micuenta {
  border: 0;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer;
  font-size: 16px;;
}

.micuenta:hover {
  cursor: pointer
}

.misfavoritos {
  border: 0;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer;
  font-size: 16px;;
  display: flex;
  align-items: center;
}

.micarrito {
  border: 0;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer;
  font-size: 16px;;
  display: flex;
  align-items: center;
}

.container_favs {
  align-items: center;
}

.inputs1 {
  width: 195px;
  height: 25px;
  border-radius: 4px;
 
}

.buscar {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}