.cabecera{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.text{
    font-size: 36px;
    font-family: medium italic;
}

form{
    width: 614px;
    height: 750px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 58%;
    left:50%;
    border-radius: 10px;
    border: 2px solid #42829D;
}

.inputs{
    display: block;
    margin-top: 30px;
    width: 484px;
    height: 65px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10%; 
    margin-top: 30px;  
}

.button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}

.button1{
    width: 249px;
    font-size: 28px;
    height: 65px;
    cursor: pointer;
}

.text{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;  
}
.text1{
    
    font-size: 28px;
}

.text2{
    font-size: 24px;
}

.button2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button3{
    width: 484px;
    height: 65px;
    border-radius: 10px;
    background-color: #42829D;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.divisor{
    margin-left: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 505px;
    height: 1;
    border: 1px solid #42829D;
}
.button4{
    margin-top: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.button5{
    width: 484px;
    height: 65px;
    background-color: #ECEBEB;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button6{
    margin-top: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button7{
    font-size: 24px;
    color: #777777;
    outline:none;
    border: 0;
    padding: 0;
    cursor: pointer;
    background: none;
}

.button7:hover{
    text-decoration: underline;
}

.main_conteiner2{
    display: flex;
}

.container_errors {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 484px;
    justify-content: center;
    margin-left: 10%;
    background-color: pink;
    border-radius: 10px;
}

.errors {
    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
}

.button3:disabled {
    background: #ccc;
  }